{
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "extends": "airbnb-base",
  "settings": {
    "import/resolver": {"node": {"extensions": [".es6", ".jsx"]}}
  },
  "rules": {
    "no-console": "off",
    "comma-dangle": "off",
    "no-unused-vars": ["warn", { "vars": "all", "args": "after-used", "ignoreRestSiblings": false }],
    "object-shorthand": ["off", "properties"],
    "import/extensions": ["off", "never", {
      "js": "never",
      "jsx": "never",
      "es6": "never"
    }],
    "import/no-unresolved": "off",
    "no-lonely-if": "off",
    "no-trailing-spaces": "off",
    "prefer-const": "off",
    "padded-blocks": "off",
    "no-useless-return": "off",
    "arrow-body-style": "off",
    "no-shadow": "off"
  }
}