{
  "report-dir": "./test/coverage",
  "require": [
    "babel-register"
  ],
  "sourceMap": false,
  "instrument": false,
  "exclude":[
    "app/mailer/*",
    "app/util/paraChecker.js",
    "test/*"
  ]
}